
#directions-header{
    color:white;
    font-size: 60px;
}

.all-directions{
    color: white;
    margin-left: 20%;
    text-align: left;
    font-size: 20px;
}

.direction-li{
    margin-bottom: 100%;
    margin-top: 100%;
}

input[type=submit]{
    background-color: ghostwhite;
    border: none;
    color: black;
    padding: 8px 32px;
    text-decoration: double;
    margin: 4px 2px;
    cursor: url(src/images/burger.png), pointer !important;
}

.username-here{
    margin-top: 20%;
    margin-bottom: 10%;
}