/* will be displaying a grid */
.adding-grid-diplay {
    display: grid;
    grid-template-columns: 35% 30% auto;
    grid-template-rows: 8% auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    grid-template-areas:
    "header header header"
    "timer list placeholder"
    "ingredients ingredients placeholder"
    ;
}

.game-container {
    content: '';
}

/* HEADER STYLING */
.game-header-container {
    border: 5px solid #FF9F1C;
    box-shadow: 0px 0px 12px #FFC16E, inset 0px 0px 18px #FFC16E;
    

    border-radius: 18px;
    color: white;
    grid-area: header;

    /* text-shadow: 0px 0px 20px, 0 0 12px, 0 0 1em #FFA500, 0 0 0.5em #FFA500, 0 0 0.1em #FFA500, 0 10px 3px #000; */
}

.game-header-container div h1 {
    font-family: 'Fredoka One', cursive;
    margin-top: 0.2%;
    font-size: 2.5rem;
    letter-spacing: 5px;
    color: white;
    text-shadow: 0px 0px 100px, 0 0 1px, 0 0 1em #FFC16E, 0 0 0.5em #FFC16E, 0 0 0.1em #FFC16E, 0 10px 3px #000;

}
/* .game-header-container h1 {
    
} */

/* Level and Timer Container  */
.timer-level-container {
    border: 5px solid green;
    box-shadow: 0px 0px 12px #2EC4B6, inset 0px 0px 18px #2EC4B6;
 
    border-radius: 18px;
    color: white;
    grid-area: timer;

    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.difficulty-div {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0px 0px 20px, 0 0 12px, 0 0 1em #228F85, 0 0 0.5em #228F85, 0 0 0.1em #228F85, 0 10px 3px #000;

}

.timer-div {
    font-size: 2.5rem;
    font-family: 'Wallpoet', cursive;
    text-shadow: 0px 0px 20px, 0 0 12px, 0 0 1em green, 0 0 0.5em green, 0 0 0.1em green, 0 10px 3px #000;
}


/* recipe list styling */
.all-ingredients-container {
    /* border: 5px solid #eef2f5;
    box-shadow: 0px 0px 12px #eef2f5, inset 0px 0px 18px #eef2f5; */

    border: 6px solid #E71D36;
    box-shadow: 0px 0px 20px #EB465A, inset 0px 0px 30px #EB465A;
    border-radius: 18px;
    color: white;
    grid-area: list;
    /* background-color: black; */
    font-weight: bold;
    padding: 5%;
    font-size: 1.3rem;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
}

.ingredients-list ol li{
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Fredoka One', cursive;
}

.ingredients-list h2 {
    text-shadow: 1px 1px 5px #eef2f5;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
}


/* PLATE CONTAINER STYLING */

.plate-container {
    border-left: 5px solid #2EC4B6;
    border-right: 5px solid #2EC4B6;
    box-shadow: 0px 0px 12px #2EC4B6, inset 0px 0px 18px #2EC4B6;
    
    color: white;
    grid-area: placeholder;


    /* border styling to give it round borders ... not sure if it works */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.plate-container-grid {
    display: grid;
    grid-row-gap: 5%;
}

/* PLATE CONTAINER STYLING ADDING ONCE ITEMS ARE ON THE PLATE */

.plate-container-grid-items {
    align-self: center;
    justify-self: center;
}


.food-item-container {
    border-top: 5px solid #2EC4B6;
    border-bottom: 5px solid #2EC4B6;
    box-shadow: 0px 0px 12px #2EC4B6, inset 0px 0px 20px #2EC4B6;
    border-radius: 2px;
    color: white;
}

/* .food-item-container:first-child{
    margin-top: 1%;
} */


.random-ingredients-container {
    border: 6px solid #E71D36;
    box-shadow: 0px 0px 20px #EB465A, inset 0px 0px 30px #EB465A;
    border-radius: 15px;
    color: white;
    grid-area: ingredients;
}

.random-ingredients-container-grid {
    display: grid;
    grid-template-columns: 33% 33% auto;
    grid-gap: 5px;
    justify-items: center;
}



/* Wrong Pick Class and Animation */

.wrong-animation{
    animation: shake 0.8s linear 1;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
      
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}