html, body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    text-align: center;
}

/* $shadow: 0px 0px 60px, 0 0 22px, 0 0 1em #f00, 0 0 0.5em #f00, 0 0 .1em #f00, 0 10px 3px #000; */

form {
    display: inline-block;
}

input[type=text]{
    text-align: center;
    height: 50px;
    /* border: 2px solid red; */
    border-radius: 4px;
}

input[type=submit]{
    background-color: ghostwhite;
    border: none;
    color: black;
    padding: 8px 32px;
    text-decoration: double;
    margin: 4px 2px;
    cursor: url(src/images/burger.png), pointer !important;
}

button{
    background-color: ghostwhite;
    border: none;
    color: black;
    padding: 8px 32px;
    text-decoration: double;
    margin: 4px 2px;
    cursor: url(src/images/burger.png), pointer !important ;
}

.header-container {
    text-align: center;
  }
  
  .header-container {
    position: relative;
    margin: 100px auto;
    height: 100px;
    color: #fff;
    font-family: 'Monoton', cursive;
    /* font-family: 'Allura', cursive; */
    font-size: 7em;
    text-shadow: 0px 0px 60px, 0 0 22px, 0 0 1em #f00, 0 0 0.5em #f00, 0 0 0.1em #f00, 0 10px 3px #000;
    animation: blink 1.5s ease infinite;
    padding: 20px;
  }
  .header-container::before {
    position: absolute;
    color: #fff;
    content: '';
    top: -35%;
    left: 0;
    width: 98%;
    height: 140%;
    border: 8px solid #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 700px #f00, inset 0px 0px 60px #f00;
    animation: blink-border 2.5s ease infinite;
  }
  .header-container span {
    display: inline-block;
    min-width: 280px;
  }
  
  @keyframes blink {
    31%, 33% {
      color: #fff;
      text-shadow: 0px 0px 60px, 0 0 22px, 0 0 1em #f00, 0 0 0.5em #f00, 0 0 0.1em #f00, 0 10px 3px #000;
    }
    32% {
      color: #444;
      text-shadow: none;
    }
  }
  @keyframes blink-border {
    31%, 33%, 62%, 67% {
      border-color: #fff;
      box-shadow: 0px 0px 600px #f00, inset 0px 0px 50px #f00;
    }
    32%, 63% {
      border-color: #444;
      box-shadow: none;
    }
  }